/* *********************************************
        General Stuff
   ********************************************* */

body {
	font-family: 'Playfair Display';
}

h1,h2 {
	font-family: 'Great Vibes';
	font-weight: normal;
	margin: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}

h3 {
	margin: 3em 0 1em 0;
	font-weight: 900;
	text-transform: capitalize;
	font-family: 'Great Vibes'
}

h5,h6 {
	margin: 3em 0;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-family: 'Raleway'
}

h6 {
	color: #ffa78a;
}

a,
button {
	color: #ffB399;
	text-decoration: none;
	transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
}

a:hover {
	color: #FF8080;
	text-decoration: none;
}

p {
	margin: 0 0 1em;
	color: #999999;
}

img {
	display: inline-block !important;
}

.btn {
	font-family: 'Playfair Display', sans-serif;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	font-size: 1em;
	padding: 15px 30px;
}

.hr {
	border: 0;
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 6px 15px 6px 8px;
	width: 150px;
}

.minihr {
	border: 0;
	border-top: 1px solid #353535;
	display: inline-block;
	margin: 5px 10px;
	width: 40px;
}

/* *********************************************
        Header Slides
   ********************************************* */

#title {
	color: #fff;
	font-size: 99px;
}

.slide-text-container {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}


.slide-text {
	color: #fff;
	display: block;
	margin: 0 auto;
	position: absolute;
	top:33%;
	width: 100%;
	-webkit-transform: translateY(-33%);
	-moz-transform: translateY(-33%);
	-ms-transform: translateY(-33%);
	-o-transform: translateY(-33%);
	transform: translateY(-33%);
}

.slide-text p {
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.4em;
	margin: 0;
	text-transform: uppercase;
}

.countdown {
	bottom: 30px;
	left: 50%;
	margin-left: -225px;
	position: absolute;
	width: 450px;
	z-index: 100;
}

/* *********************************************
        Navbar
   ********************************************* */

.navbar-wedding {
	border-radius: 0;
	text-transform: uppercase;
	background-color: #333;
	border: none;
}

.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.navbar-wedding a {
	color: #ffffff;
	text-decoration: none;
}

.navbar-wedding a:hover{
	background: #cccccc !important;
}

.navbar-wedding li a:focus {
	background: #333;
}

.navbar-wedding .navbar-brand {
	padding: 0;
}

.navbar-wedding .navbar-brand a {
	padding: 15px;
	font-size 14px;
}

/* *********************************************
        Section Headings
   ********************************************* */

section {
	padding: 80px 0;
}

section.lightgraysection {
	background: #cccccc;
}

section.darkgraysection {
	background: #222;
	color: #fff;
}

.heading {
	padding-bottom: 60px;
}

.heading h2 {
	font-size: 48px;
}

.heading span {
	color: #ffa78a;
}

.mobile-divider {
	display: none;
}

/* *********************************************
        Portraits
   ********************************************* */

.hover-effect {
	display: inline-block;
	position: relative;
}

.hover-effect span {
	background: #ffa78a;
	color: #fff;
	display: block;
	height: 0;
	left: 50%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 0;
	transition: all .2s ease;
	-moz-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
}

.hover-effect:hover span {
	height: 100%;
	left: 0;
	opacity: 0.8;
	top: 0;
	width: 100%;
}

.hilportrait {
 width: 370px;
 height:370px;
 display:block;
	display: inline-block;
	position: relative;
 background:transparent url('../images/hilary.jpg') center center no-repeat;
}

.hilportrait:hover {
   background-image: url('../images/hilaryicon.jpg');
}

.chrisportrait {
 width: 370px;
 height:370px;
 display:block;
	display: inline-block;
	position: relative;
 background:transparent url('../images/chris.jpg') center top no-repeat;
}

.chrisportrait:hover {
   background-image: url('../images/chrisicon.jpg');
}

.hover-effect .fa {
	left: 50%;
	margin: -20px 0 0 0;
	position: absolute;
	top: 0;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.hover-effect:hover .fa {
	top: 50%;
}

/* *********************************************
        Contact Links
   ********************************************* */

.social-icons {
	list-style: none;
	padding: 1em 0;
}

.social-icons li {
	display: inline-block;
	margin: 0 2px;
}

.social-icons a {
	color: #333;
	border: 1px solid #333;
	border-radius: 50%;
	display: block;
}

.social-icons a:hover {
	border: 1px solid #ffa78a;
	color: #ffa78a;
}

.social-icons span {
	padding: 7px;
}



/* *********************************************
        Accomodations
   ********************************************* */

#accommodations h5 {
	margin: 0 0 8px;
}

#accommodations h6 {
	margin: 0 0 15px;
}

.row-margin {
	margin-bottom: 60px;
}

/* *********************************************
        Events
   ********************************************* */

.event {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 20px;
}

.event h5,
.event h6,
.event p {
	padding: 0 30px;
}

.event h5 {
	margin-bottom: 10px;
}

.event h6 {
	margin-top: 0;
}

/* *********************************************
        Gallery
   ********************************************* */

.gallery {
	list-style: none;
	padding: 0;
}

.gallery li {
	padding-bottom: 30px;
}

/* *********************************************
        Map
   ********************************************* */

#map {
	padding: 0;
	position: relative;
}

#map-canvas {
	height: 600px;
	width: 100%;
}

/* *********************************************
        RSVP
   ********************************************* */

#rsvp .heading {
	padding-bottom: 20px;
	color: #fff;
}

#rsvp .heading h2 {
	color: #fff;
}

#rsvp .heading span {
	border-color: #fff;
	color: #fff;
}

#rsvp .btn {
	background: #ffa78a;
	color: #fff;
	margin-top: 20px;
	padding-bottom: 20px;
	font-family: 'Raleway'; 
	text-transform: uppercase;
}

#rsvp .btntext {
	margin-left: 15px;
}

/* *********************************************
        Registry
   ********************************************* */

#registry {
	padding: 30px 0;
}

#registry .item {
	padding: 15px;
	text-align: center;
}

#registry .item a {
	border: 1px solid #ddd;
	display: block;
	height: 80px;
	padding: 15px;
	position: relative;
}

#registry .item span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#registry .item img {
	max-height: 50px;
	vertical-align: middle;
}


/* *********************************************
        Special stuff for phones
   ********************************************* */

@media (max-width: 767px) {

	.btn {
		white-space: normal;
	}

	.navbar-toggle span {
		background: #fff;
	}

	.text-left,
	.text-right,
	.col-sm-3 {
		text-align: center !important;
	}

	.mobile-divider {
		color: #000;
		display: block;
		margin: 30px 0;
		opacity: 0.1;
		text-align: center;
	}

	.mobile-divider .minihr {
		border-top: 1px solid #000;
		display: inline-block;
		margin: 4px 10px;
		width: 90px;
	}

	h1 {
		font-size: 54px;
	}

	section {
		padding: 30px 0;
	}

	.welcome span {
		width: 90px;
	}

	.welcome {
		top:20%;
		width: 100%;
	}

	.heading {
		padding-bottom: 30px;
	}

	.countdown {
		margin-left: -140px;
		width: 280px;
	}

	.countdown-show5 .countdown-section {
		width: 51px !important;
	}

	.countdown-section {
		font-size: 70% !important;
		margin: 0 2px !important;
		padding: 0 0 10px !important;
	}

	#accommodations h5 {
		margin: 20px 0 8px;
	}

	#map-canvas {
		height: 250px;
	}

}
